{{ define "main" }}
  {{ partial "page-header" . }}


  <section class="section-sm bg-body dark:bg-darkmode-body relative z-20 -mt-10">
    <div class="container mx-auto px-4 lg:px-8 max-w-7xl">
      <div class="row justify-center">
        <div class="lg:col-10">
          <div class="bg-theme-light dark:bg-darkmode-theme-light rounded-3xl shadow-xl border border-border dark:border-darkmode-border p-8 lg:p-14 content prose dark:prose-invert max-w-none">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
