{{ range first 3 (where .Site.RegularPages "Section" "projects" ) }}
<div class="flex flex-col group bg-body dark:bg-darkmode-theme-light rounded-2xl border border-border dark:border-white/10 dark:shadow-raycast hover:-translate-y-2 hover:shadow-xl dark:hover:shadow-[0_0_30px_rgba(255,99,99,0.2)] transition-all duration-300 overflow-hidden">
  {{ $imgSrc := "" }}
  {{ if .Params.image }}
  {{ $imagePath := .Params.image }}
  {{ if reflect.IsSlice .Params.image }}
  {{ $imagePath = index .Params.image 0 }}
  {{ end }}
  {{ $res := .Resources.GetMatch $imagePath }}
  {{ if $res }}
  {{ $imgSrc = $res.RelPermalink }}
  {{ else }}
  {{ $imgSrc = $imagePath | relURL }}
  {{ end }}
  {{ end }}
  {{ if $imgSrc }}
  <div class="relative w-full h-60 overflow-hidden">
    <div class="absolute inset-0 bg-primary/20 mix-blend-overlay z-10 opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>
    <img src="{{ $imgSrc }}" class="w-full h-full object-cover transform group-hover:scale-105 transition-transform duration-500 opacity-90 dark:opacity-70 group-hover:opacity-100" alt="{{ .Title }}" />
  </div>
  {{ else }}
  <div class="w-full h-80 bg-theme-light dark:bg-darkmode-theme-light rounded-lg"></div>
  {{ end }}
  <div class="flex flex-col p-6">
    <h3 class="w-full text-xl font-bold flex justify-between items-center text-dark dark:text-white">
      {{ .Title }}
      <a href="{{ .RelPermalink }}"
        class="material-symbols-outlined cursor-pointer hover:translate-x-1 hover:text-primary transition-all duration-300 text-text dark:text-gray-400">
        arrow_forward
      </a>
    </h3>

  </div>
</div>
{{ end }}