{{ range first 3 (where .Site.RegularPages "Section" "news") }}
<div class="flex flex-col justify-between group bg-body dark:bg-darkmode-theme-light rounded-2xl border border-border dark:border-white/10 dark:shadow-raycast hover:-translate-y-2 hover:shadow-xl dark:hover:shadow-[0_0_30px_rgba(255,99,99,0.2)] transition-all duration-300 overflow-hidden h-full">
  <div class="flex-1 flex flex-col">
    {{ $imgSrc := "" }}
    {{ if .Params.image }}
    {{ $imagePath := .Params.image }}
    {{ if reflect.IsSlice .Params.image }}
    {{ $imagePath = index .Params.image 0 }}
    {{ end }}
    {{ $res := .Resources.GetMatch $imagePath }}
    {{ if $res }}
    {{ $imgSrc = $res.RelPermalink }}
    {{ else }}
    {{ $imgSrc = $imagePath | relURL }}
    {{ end }}
    {{ end }}
    {{ if $imgSrc }}
    <div class="relative w-full aspect-video overflow-hidden">
      <div class="absolute inset-0 bg-primary/20 mix-blend-overlay z-10 opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>
      <img src="{{ $imgSrc }}" class="w-full h-full object-cover transform group-hover:scale-105 transition-transform duration-500 opacity-90 dark:opacity-70 group-hover:opacity-100" alt="{{ .Title }}" />
    </div>
    {{ else }}
    <div class="w-full aspect-video bg-theme-light dark:bg-darkmode-theme-light rounded-lg"></div>
    {{ end }}
    <div class="flex flex-col p-6 flex-1">
      <h3 class="w-full text-xl font-bold flex justify-between items-end text-dark dark:text-white group-hover:text-primary transition-colors">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h3>
    </div>
  </div>
  <div
    class="flex flex-col lg:flex-row px-6 py-4 items-start gap-1 lg:items-center justify-start text-sm text-text dark:text-gray-400 border-t border-border dark:border-white/5 bg-black/5 dark:bg-black/20">
    <div class="flex items-center gap-2">
      <span class="material-symbols-outlined text-[#D94645]">schedule </span>{{ time.Format ":date_long" .PublishDate }}
    </div>
  </div>
</div>
{{ end }}