{{ define "main" }}
  {{ partial "project-header" . }}
  <section class="section pt-7">
    <div class="container">
      <div class="row justify-center">
        <article class="lg:col-10">
     
          <div class=""></div><img src="{{ .Params.image }}"/></div>
          <h1 class="h2 mb-4 pt-10">
            {{ .Title }}
          </h1>
          
          <div class="content mb-10">
            
            {{ .Content }}
          </div>
          
          
        </article>
      </div>

      
    </div>
  </section>
{{ end }}
