{{ define "main" }}
  {{ partial "product-header" . }}
  <section class="section pt-7">
    <div class="container">
      <div class="row justify-center">
        <article class="lg:col-10">
     
          {{ $image:= .Params.image }}
          {{ if $image }}
            <div class="mb-10">
              {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "w-full rounded") }}
            </div>
          {{ end }}
          <h1 class="h2 mb-4">
            {{ .Title }}
          </h1>
          
          <div class="content mb-10">
            
            {{ .Content }}
          </div>
          
          
        </article>
      </div>

      
    </div>
  </section>
{{ end }}
